
.gitattributes
*.sln
*.vcxproj
*.filters
*.user
*.json
*.dll
*.exe
*.pdb
*.csproj
HashingCSharp/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
HashingCSharp/obj/Debug/net5.0/HashingCSharp.AssemblyInfo.cs
HashingCSharp/obj/Debug/net5.0/HashingCSharp.AssemblyInfoInputs.cache
HashingCSharp/obj/Debug/net5.0/HashingCSharp.assets.cache
HashingCSharp/obj/Debug/net5.0/HashingCSharp.csproj.AssemblyReference.cache
HashingCSharp/obj/Debug/net5.0/HashingCSharp.csproj.CoreCompileInputs.cache
HashingCSharp/obj/Debug/net5.0/HashingCSharp.csproj.FileListAbsolute.txt
*.editorconfig
*.cache
*.props
*.targets
HashingCpp/Main.cpp
HashingCSharp/Program.cs
.vs/BaseAlgorithms/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.log
*.recipe
*.ilk
*.tlog
*.txt
*.obj
*.idb
*.v2
*.v1
HashingC++/Main.cpp
HashingC#/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
HashingC#/obj/Debug/net5.0/HashingC#.AssemblyInfo.cs
HashingC#/obj/Debug/net5.0/HashingCSharp.AssemblyInfo.cs
HashingC#/Program.cs
GraphsC++/Main.cpp
GraphsC++/Main.cpp
GraphsC++/Main.cpp
GraphsC++/Main.cpp
GraphsC++/Main.cpp
GraphsC++/Main.cpp
.vs/BaseAlgorithms/v17/TestStore/0/000.testlog
.vs/BaseAlgorithms/v17/TestStore/0/testlog.manifest
BinarySearchC++/app.ico
BinarySearchC++/app.rc
BinarySearchC++/AssemblyInfo.cpp
BinarySearchC++/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cpp
BinarySearchC++/Debug/app.res
BinarySearchC++/Debug/BinarySearchC++.pch
BinarySearchC++/Resource.h
BinarySearchC++/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cpp
BinarySearchC++/x64/Debug/app.res
BinarySearchC++/x64/Debug/BinarySearchC++.pch
HashingC#/obj/Debug/net5.0/HashingC#.csproj.BuildWithSkipAnalyzers
SortingsC#/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SortingsC#/obj/Debug/netcoreapp3.1/SortingsC#.AssemblyInfo.cs
SortingsC#/obj/Debug/netcoreapp3.1/SortingsC#.csproj.BuildWithSkipAnalyzers
SortingsC++/main.cpp
TestingForBinarySearchTreesC++/x64/Debug/BinarySearchTreesTest.pch
TestingForBinarySearchTreesC++/x64/Debug/TestingForBinarySearchTreesС++.pch
TestingForSortingsC#/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
TestingForSortingsC#/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
TestingForSortingsC#/obj/Debug/netcoreapp3.1/TestingForSortingsC#.AssemblyInfo.cs
TestingForSortingsC#/obj/Debug/netcoreapp3.1/TestingForSortingsC#.csproj.BuildWithSkipAnalyzers
TestingForSortingsC#/obj/Debug/netcoreapp3.1/TestingForSortingsC#.csproj.CopyComplete
TestingForSortingsC++/x64/Debug/TestingForSortingsC++.pch
x64/Debug/BinarySearchC++.exe.metagen
x64/Debug/Testing.exp
x64/Debug/Testing.lib
x64/Debug/TestingForBinarySearchTreesС++.exp
x64/Debug/TestingForBinarySearchTreesС++.lib
x64/Debug/TestingForSortingsC++.exp
x64/Debug/TestingForSortingsC++.lib
StringMatchingC#/obj/Debug/net5.0/StringMatchingCSharp.AssemblyInfo.cs
StringMatchingC#/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
StringMatchingC#/obj/Debug/net5.0/StringMatchingC#.AssemblyInfo.cs
StringMatching C++/Debug/main.obj.enc
RecombinationsC#/obj/Debug/net5.0/RecombinationsC#.AssemblyInfo.cs
RecombinationsC#/obj/Debug/net5.0/Recombinations.AssemblyInfo.cs
RecombinationsC#/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
RandomNumberGenerationC++/Debug/randomnumbergenerationc++.obj.enc
DynamicProgrammingC++/Debug/main.obj.enc
.vs/BaseAlgorithms/v17/fileList.bin
UpgradeLog.htm
.vs/BaseAlgorithms/FileContentIndex/cb9eb263-4538-4329-8101-504dc7980d77.vsidx
.vs/BaseAlgorithms/FileContentIndex/read.lock
.vs/BaseAlgorithms/FileContentIndex/1c7e3d7a-aa1b-4ba9-86c7-4743feb987e0.vsidx
TestingForSortingsC\#/bin/Debug/net6.0/CoverletSourceRootsMapping
StringMatchingC\#/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StringMatchingC\#/obj/Debug/net6.0/StringMatchingC\#.AssemblyInfo.cs
TestingForSortingsC\#/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TestingForSortingsC\#/obj/Debug/net6.0/TestingForSortingsC\#.AssemblyInfo.cs
TestingForSortingsC\#/obj/Debug/net6.0/TestingForSortingsC\#.csproj.CopyComplete
HashingC\#/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RecombinationsC\#/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RecombinationsC\#/obj/Debug/net6.0/RecombinationsC\#.AssemblyInfo.cs
SortingsC\#/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SortingsC\#/obj/Debug/net6.0/SortingsC\#.AssemblyInfo.cs
HashingC\#/obj/Debug/net6.0/HashingC\#.AssemblyInfo.cs
.vs/BaseAlgorithms/FileContentIndex/ebd1b176-a2b2-4814-a94b-c2b769f540bd.vsidx
.vs/BaseAlgorithms/FileContentIndex/adae07b7-4b39-4c23-b802-31812ecebb1a.vsidx
.vs/BaseAlgorithms/FileContentIndex/ba384b7f-178c-49ae-88ef-f51d814d56ec.vsidx
.vs/BaseAlgorithms/FileContentIndex/dcd678bf-b70a-46e7-b753-71b4f3955c41.vsidx
.vs/BaseAlgorithms/FileContentIndex/f3b5103c-075c-467a-a9a1-fccee3f0e1a0.vsidx
TestingForSortingsC\#/obj/Debug/net6.0/TestingForSortingsC\#.csproj.BuildWithSkipAnalyzers
.vs/BaseAlgorithms/FileContentIndex/6674b3bf-585a-4b20-9dc2-911bc028d06e.vsidx
.vs/ProjectEvaluation/basealgorithms.metadata.v5.1
.vs/ProjectEvaluation/basealgorithms.projects.v5.1
RandomNumberGenerationC++/x64/Debug/randomnumbergenerationc++.obj.enc
*.vsidx
*.2
GraphsCs/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GraphsCs/obj/Debug/net6.0/GraphsCs.AssemblyInfo.cs
GraphsCs/obj/Debug/net6.0/GraphsCs.GlobalUsings.g.cs
GraphsCs/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GraphsCs/obj/Release/net6.0/GraphsCs.AssemblyInfo.cs
GraphsCs/obj/Release/net6.0/GraphsCs.GlobalUsings.g.cs
.vs/slnx.sqlite
GraphsCs/obj/Debug/net6.0/GraphsCs.csproj.BuildWithSkipAnalyzers
SortingsC\#/obj/Debug/net6.0/SortingsC\#.csproj.BuildWithSkipAnalyzers
GraphsCs/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
GraphsCs/obj/Debug/net7.0/GraphsCs.AssemblyInfo.cs
GraphsCs/obj/Debug/net7.0/GraphsCs.csproj.BuildWithSkipAnalyzers
GraphsCs/obj/Debug/net7.0/GraphsCs.GlobalUsings.g.cs
