
.gitattributes
*.sln
*.vcxproj
*.filters
*.user
*.json
*.dll
*.exe
*.pdb
*.csproj
HashingCSharp/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
HashingCSharp/obj/Debug/net5.0/HashingCSharp.AssemblyInfo.cs
HashingCSharp/obj/Debug/net5.0/HashingCSharp.AssemblyInfoInputs.cache
HashingCSharp/obj/Debug/net5.0/HashingCSharp.assets.cache
HashingCSharp/obj/Debug/net5.0/HashingCSharp.csproj.AssemblyReference.cache
HashingCSharp/obj/Debug/net5.0/HashingCSharp.csproj.CoreCompileInputs.cache
HashingCSharp/obj/Debug/net5.0/HashingCSharp.csproj.FileListAbsolute.txt
*.editorconfig
*.cache
*.props
*.targets
HashingCpp/Main.cpp
HashingCSharp/Program.cs
.vs/BaseAlgorithms/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.log
*.recipe
*.ilk
*.tlog
*.txt
*.obj
*.idb
*.v2
*.v1
HashingC++/Main.cpp
HashingC#/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
HashingC#/obj/Debug/net5.0/HashingC#.AssemblyInfo.cs
HashingC#/obj/Debug/net5.0/HashingCSharp.AssemblyInfo.cs
HashingC#/Program.cs
GraphsC++/Main.cpp
